<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Confronto Pigro vs Pigro Leva</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/static/style_4.css">
</head>

<body>
    <h1>Confronto Portafoglio Pigro vs Pigro Leva 20%</h1>

    <canvas id="chart" height="100"></canvas>
    <canvas id="drawdownChart" height="100"></canvas>

    <div id="metrics"></div>

    <script src="/static/app_leva.js"></script>
</body>
</html>
